.signUpContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: var(--bgc);
}

.logo {
  width: 130px;
  position: absolute;
  top: 50px;
  cursor: pointer;
  transition: opacity 0.3s;
  opacity: 1;
}

.logo:hover {
  opacity: 0.8;
}

.signUpBox {
  display: flex;
  height: 400px;
  top: 10px;
  left: 10px;
}

.videoBox {
  width: 400px;
  background-color: var(--purple500);
  border-radius: 20px 0 0 20px;
}

.inputBox {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 0 20px 20px 0px;
  background-color: var(--white);
  box-shadow: var(--shadow);
}

.title {
  font-size: var(--font-size-body2);
  color: var(--purple500);
  margin-bottom: 10px;
}
