@import "../../styles/variable.css";

.chatContainer {
  position: fixed;
  width: 80px;
  height: 80px;
  left: 90%;
  top: 60%;
  z-index: 999;
}
.iconButton {
  bottom: 20px;
  z-index: 1;
  width: 80px;
  height: 80px;
  left: 90%;
  top: 70%;
  background: var(--white);
  border: none;
  box-shadow: var(--shadow);
  border-radius: var(--badge-border-radius);
}

.iconButton:hover {
  opacity: 0.8;
}

.icon:hover {
  opacity: 0.8;
}

.icon {
  fill: var(--purple500);
}

.alarm {
  position: absolute;
  background-color: var(--red);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: bold;
  color: var(--white);
  bottom: 78%;
  left: 75%;
}

.chatBox {
  position: absolute;
  width: 300px;
  height: 400px;

  bottom: 50%;
  right: 50%;
  bottom: 50%;
  background-color: var(--white);
  z-index: 1000;
  box-shadow: var(--shadow);
  border-radius: var(--badge-border-radius);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.chatBoxOpen {
  opacity: 1;
  visibility: visible;
}

.closeIconBox {
  position: absolute;
  left: 83%;
  top: 2%;
}

.closeIcon {
  fill: var(--black200);
}

.closeIcon:hover {
  fill: var(--black300);
}

.font {
  margin-top: 23px;
  margin-left: 23px;
  font-weight: bold;
}

.line {
  border-bottom: 1px solid var(--black300);
  width: 260px;
  margin: 0 auto;
  padding-top: 10px;
}

.opponentMessage {
  width: 189px;
  height: 49px;
  left: 1002px;
  top: 653px;
  background-color: var(--purple200);
  border-radius: var(--badge-border-radius);
  margin-top: 20px;
  margin-left: 20px;
}

.myMessage {
  width: 189px;
  height: 49px;
  left: 1002px;
  top: 653px;
  background-color: var(--purple400);
  border-radius: var(--badge-border-radius);
  margin-top: 25px;
  margin-left: 90px;
}

.messageInput {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messageInput input {
  flex-grow: 1;
  height: 40px;
  padding: 5px;
  border: 1px solid var(--black200);
  border-radius: var(--badge-border-radius) 0 0 var(--badge-border-radius);
}

.messageInput button {
  background: var(--purple500);
  color: var(--white);
  height: 52px;
  border: none;
  border-radius: 0 var(--badge-border-radius) var(--badge-border-radius) 0;
  padding: 5px 10px;
}

.messageInput button:hover {
  background: var(--purple600);
}
