.alarmContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 30px;
  cursor: pointer;
}

.alarmIcon {
  transition: transform 0.2s ease-in-out;
  fill: var(--purple600);
}

.alarmIcon:hover {
  transform: scale(1.2);
}

.alarmModal {
  position: absolute;
  width: 400px;
  top: 30px;
  right: 0;
  padding: 20px 15px;
  background-color: var(--white);
  border-radius: var(--badge-border-radius);
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.alarmMessageBtnContainer {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.alarmMessageBtn {
  padding: 5px 10px;
  font-size: var(--font-size-button);
}
