.alarmContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.alarmIcon {
  font-size: var(--font-size-sub1);
}

.alarmModal {
  position: absolute;
  width: 400px;
  top: 30px;
  right: 0;
  padding: 20px 15px;
  background-color: var(--white);
  border-radius: var(--badge-border-radius);
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.alarmMessageBtnContainer {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.alarmMessageBtn {
  padding: 5px 10px;
  font-size: var(--font-size-button);
}

/* proflie modal */
.profileTitle {
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
}

.profileBox {
  width: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-row-gap: 5px;
}

.profileBox > div:last-child {
  grid-column: span 3;
}

.profileTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.profileTitle > span {
  font-size: var(--font-size-body1);
}

.profileSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profileSection > span {
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-button);
}

.profileInput {
  max-width: 472px;
  word-wrap: break-word;
}
