:root {
  --font-size-h1: 96px;
  --font-size-h2: 60px;
  --font-size-h3: 48px;
  --font-size-h4: 34px;
  --font-size-h5: 24px;
  --font-size-h6: 20px;
  --font-size-sub1: 16px;
  --font-size-sub2: 14px;
  --font-size-sub3: 12px;
  --font-size-sub4: 10px;
  --font-size-body1: 16px;
  --font-size-body2: 14px;
  --font-size-button: 12px;
  --font-weight-h1: 300;
  --font-weight-h2: 300;
  --font-weight-h3: 400;
  --font-weight-h4: 400;
  --font-weight-h4-bold: 700;
  --font-weight-h5: 500;
  --font-weight-h6: 500;
  --font-weight-sub1: 400;
  --font-weight-sub2: 400;
  --font-weight-body1: 400;
  --font-weight-body2: 400;
  --font-weight-button: 700;
  --purple100: #f2e9fe;
  --purple200: #bb86fc;
  --purple300: #9d54fd;
  --purple400: #7f35fc;
  --purple500: #6231ef;
  --purple600: #4c2ad3;
  --purple700: #3521b3;
  --black100: #e5e5e5;
  --black200: #b9b9b9;
  --black300: #8a8a8a;
  --black400: #3c3c3c;
  --black500: #121212;
  --bgc: #f5f5f5;
  --white: #fff;
  --red: #ff0000;
  --overlay: rgba(18, 18, 18, 0.308);
  --shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  --top-modal-border-radius: 0px 0px 20px 20px;
  --badge-border-radius: 20px;
}
