.logoButton {
  display: flex;
  background-color: #16e8b5;
  justify-content: center;
  align-items: center;
  border-radius: var(--badge-border-radius);
  bottom: 20px;
  width: 60px;
  height: 60px;
  border: none;
  box-shadow: var(--shadow);
  position: fixed;
  left: 93%;
  top: 70%;
  z-index: 2;
}

.mbtiIcon {
  width: 40px;
}

@media screen and (max-width: 768px) {
  .logoButton {
    width: 37px;
    height: 37px;
    border-radius: 10px;
    left: 87%;
    top: 2.1%;
    position: absolute;
  }
  
  .mbtiIcon {
    width: 25px;
  }
}
