.logoButton {
  display: flex;
  background-color: #16e8b5;
  justify-content: center;
  align-items: center;
  border-radius: var(--badge-border-radius);
  bottom: 20px;
  width: 80px;
  height: 80px;
  border: none;
  box-shadow: var(--shadow);
  position: fixed;
  left: 90%;
  top: 50%;
  z-index: 2;
}
