.cardContainer {
  width: 250px;
  cursor: pointer;
}

.cardText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardTitle {
  text-align: center;
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: var(--font-size-h6);
}

.cardContent {
  color: var(--black300);
}

.cardBadgeContainer {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.cardBadgeArea,
.cardBadgePeriod,
.cardBadgePrice {
  color: var(--white);
  padding: 5px;
  font-size: 10px;
  border-radius: var(--badge-border-radius);
}

.cardBadgeArea {
  background-color: var(--purple200);
}
.cardBadgePeriod {
  background-color: var(--purple300);
}

.cardBadgePrice {
  background-color: var(--purple400);
}

.author {
  display: flex;
  gap: 3px;
  justify-content: center;
}

.date {
  display: flex;
  justify-content: center;
}
