.conatainer {
  margin-top: 10px;
}

.carouselContainer {
  transform: translateY(-10px);
}

.carousel {
  object-fit: cover;
}

.adContainer {
  display: flex;
  margin: 0 auto;
}

.mainPost {
  position: relative;
  align-items: center;
  vertical-align: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 30px 30px 30px 30px;
}

.recommendPost {
  position: relative;
  align-items: center;
  vertical-align: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 30px 30px 30px 30px;
  margin-bottom: 50px;
}

.carouselWrapper {
  position: relative;
}
.carouselItem {
  display: flex;
  justify-content: center;
}

.customRightArrow {
  position: absolute;
  right: -0.7%;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-left: 5px;
  z-index: 1000;
}

.customLeftArrow {
  position: absolute;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-right: 5px;
  z-index: 1000;
}

.RightArrow {
  fill: var(--purple600);
}

.LeftArrow {
  fill: var(--purple600);
}

.title {
  font-weight: 700;
  font-size: 34px;
  line-height: 49px;
  color: var(--purple600);
  white-space: nowrap;
}

.noRecommend {
  margin-top: 40px;
  text-align: center;
  line-height: 30px;
  color: var(--black300);
  font-weight: var(--font-weight-h3);
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 25px;
    line-height: 30px;
  }
}

@media screen and (max-width: 540px) {
  .title {
    font-size: 20px;
  }
}

@media screen and (max-width: 440px) {
  .title {
    font-size: 17px;
  }
  
  .noRecommend {
    font-size: 13px;
    line-height: 20px;
  }
}
