.roomMateContainer {
  max-width: 800px;
  padding: 60px;
  margin: 0 auto;
}

.cardGrid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

@media (max-width: 768px) {
  .cardGrid {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 560px) {
  .cardGrid {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .roomMateTitle {
    justify-content: center;
    flex-direction: column;
  }

  .roomMateTitleText{
    margin-bottom: 20px;
    text-align: center;
  }
}

.roomMateTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-button);
}

.roomMateBtn {
  display: flex;
  gap: 10px;
  align-self: center;
}

.pagination {
  display: flex;
  justify-content: center;
}

.circleBtn {
  transform: rotate(-30deg);
  transition: transform 1s;
}

.circleBtn:hover {
  transform: rotate(360deg);
}

.pagination {
  margin-top: 40px;
}
