.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 80px;
  position: relative;
}

.searchIcon {
  margin-right: 7px;
  color: var(--purple600);
}

.searchBox {
  position: relative;
  display: flex;
  border: 3px solid var(--purple600);
  border-radius: var(--badge-border-radius);
  width: 550px;
  height: 40px;
  box-sizing: border-box;
  padding: 7px 15px;
}

.searchBox > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* postCard.css */
.cardBadgeArea,
.cardBadgePeriod,
.cardBadgePrice,
.cardBadgeGender {
  color: var(--white);
  padding: 5px 10px;
  border-radius: var(--badge-border-radius);
  margin-left: 5px;
}

.cardBadgeArea {
  background-color: var(--purple200);
}
.cardBadgePeriod {
  background-color: var(--purple300);
}

.cardBadgePrice {
  background-color: var(--purple400);
}

.cardBadgeGender {
  background-color: var(--purple500);
}
/* postCard.css */

.searchChoiceContainer {
  position: absolute;
  top: 140%;
  left: -1%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  width: 500px;
  height: 245px;
  margin: 0 auto;
  background-color: var(--white);
  box-shadow: var(--shadow);
  border-radius: var(--badge-border-radius);
  padding: 30px;
  z-index: 999;
}

.searchChoiceContainer > div > p {
  font-size: var(--font-size-h6);
  margin-bottom: 13px;
}

.searchChoiceArea,
.searchChoicePeriod,
.searchChoicePrice,
.searchChoiceGender {
  margin-right: 10px;
}

.searchChoiceArea > p {
  color: var(--purple200);
}

.searchChoicePeriod > p {
  color: var(--purple300);
}

.searchChoicePrice > p {
  color: var(--purple400);
}

.searchChoiceGender > p {
  color: var(--purple500);
}

.areaRadioGroup::-webkit-scrollbar,
.periodRadioGroup::-webkit-scrollbar,
.priceRadioGroup::-webkit-scrollbar,
.genderRadioGroup::-webkit-scrollbar{
  display: none;
}

.areaRadioGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 200px;
  margin-top: 20px;
  overflow-y: scroll;
}

.areaRadioBtn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70px;
  height: 40px;
  font-size: var(--font-size-sub4);
  margin: 0px;
}

.periodRadioGroup,
.priceRadioGroup {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 200px;
  margin-top: 20px;
  overflow-y: scroll;
}

.periodRadioBtn,
.priceRadioBtn {
  display: flex;
  justify-items: start;
  align-items: center;
  width: 100px;
  height: 40px;
  font-size: var(--font-size-sub4);
}

.genderRadioGroup {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 100px;
}

.genderRadioBtn {
  display: flex;
  justify-items: start;
  align-items: center;
  width: 60px;
}

.searchChoiceGender {
  height: 240px;
}