@import "../../styles/variable.css";

.headerContainer {
  height: 77px;
  padding: 0px 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.line {
  border-bottom: 0.5px solid var(--black100);
}

.menu {
  display: flex;
  align-items: center;
}

.logo {
  width: 98px;
  height: 60px;
  margin-right: auto;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.logo:hover {
  opacity: 0.8;
}

.nav {
  display: flex;
  gap: 20px;
  font-size: var(--font-size-sub1);
}

.nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: var(--black500);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  padding: 0 11px;
}

.nav li:hover {
  color: var(--purple600);
  transform: scale(1.03);
}

.dropdownLi {
  position: relative;
}

.user {
  display: flex;
  gap: 15px;
  justify-content: space-evenly;
  border: 1px solid var(--black100);
  border-radius: 30px;
}

.mypage,
.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-sub1);
}

.userMenuBox {
  width: 500px;
}

.chatIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .headerContainer {
    flex-direction: row;
    align-items: center;
    height: auto;
  }

  .logo {
    margin-right: 0;
  }

  .nav {
    flex-direction: row;
    gap: 20px;
    font-size: var(--font-size-sub1);
  }

  .nav li {
    padding: 0 10px;
  }
}

.nav .roommate {
  display: block;
}

@media screen and (max-width: 768px) {
  .nav .roommate {
    display: none;
  }

  .roommate,
  .mypage,
  .logout {
    font-size: var(--font-size-sub2);
  }
}

@media screen and (max-width: 375px) {
  .headerContainer {
    overflow-x: auto;
    padding: 0px;
  }
}

