.profileContainer {
  max-width: 375px;
  height: 100%;
  margin: 0 auto;
  margin-top: 35px;
  min-height: 100%;
  overflow-x: auto;
}

.profilePhotoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 385px;
  min-width: 320px;
  height: 310px;
}

.profilePhoto {
  border-radius: 50%;
  margin-bottom: 24px;
  width: 120px;
  height: 120px;
}

.profileBasic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileBasic > div > p {
  font-size: var(--font-size-sub4);
  font-weight: var(--font-weight-h4-bold);
  margin-bottom: 7px;
  margin-top: 11px;
}

.profileBasic > div > input {
  width: 230px;
  height: 35px;
  border: 1px solid var(--black100);
  border-radius: 10px;
  background: var(--black100);
  padding: 10px;
  box-sizing: border-box;
}

.profileformBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileTenContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  height: 700px;
  margin-top: 40px;
}

.profileTenContainer > p {
  font-size: var(--font-size-h6);
  margin-bottom: 10px;
  margin-top: 10px;
}

.profileTenContainer > span {
  font-size: var(--font-size-sub3);
  color: var(--black300);
}

.dropdownContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
  margin-bottom: 26px;
}

.dropdownP {
  font-size: var(--font-size-sub3);
  margin-bottom: 5px;
}

.tagContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.tagContainer > div {
  margin-bottom: 15px;
}

.tendencyDesc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.tagContainer > div > span {
  display: inline-block;
}

.tendencyBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.tendencyBox {
  width: 330px;
  height: 90px;
  overflow-y: scroll;
  overflow-x: auto;
  transform: translateX(20px);
  margin: 0 auto;
}

.tendencyNotChoice {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 120px;
  margin: 0 auto;
}

.tendencyNot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 90px;
  transform: translateX(-6px);
}

.tendencyBox::-webkit-scrollbar {
  display: none;
}

.tendencyBox > span {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid var(--black200);
  border-radius: var(--badge-border-radius);
  font-size: var(--font-size-sub3);
}

.tendencyModalBox {
  height: 100px;
  overflow-y: scroll;
}

.tendencyModalBox::-webkit-scrollbar {
  display: none;
}

.tendencyModalBox > span {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid var(--black200);
  border-radius: var(--badge-border-radius);
  font-size: var(--font-size-sub3);
}

.IntroducContainer > p {
  font-size: var(--font-size-sub3);
  font-weight: var(--font-weight-h4-bold);
  margin-bottom: 6px;
  margin-top: 8px;
}

.IntroducContainer > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textareaBtn {
  margin-top: 17px;
}

.radioBtn:nth-child(1) {
  margin-left: 10px;
}

.radioBtn:last-child {
  margin-left: 0px;
}

.dropdownBox {
  display: flex;
  justify-content: center;
  position: relative;
}

.dropdownBadge {
  padding: 5px 10px;
  border: 1px solid var(--black100);
  border-radius: var(--badge-border-radius);
  background-color: inherit;
  margin-left: 5px;
  position: relative;
}

.dropdownP {
  font-size: var(--font-size-sub3);
  margin-bottom: 5px;
  margin: 0px 10px 5px 15px;
}

.mbtiRadioBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 140px;
  padding: 5px 0px;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: var(--shadow);
  overflow-y: scroll;
  position: absolute;
  top: 100%;
  left: 35%;
  z-index: 50;
}

.mbtiRadio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin: 4px;
}

.regionRadioBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 110px;
  height: 120px;
  padding: 5px 0px;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: var(--shadow);
  overflow-y: scroll;
  position: absolute;
  top: 100%;
  left: 40%;
  z-index: 50;
}

.regionRadio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  margin: 4px;  
}

.RadioBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75px;
  height: 70px;
  padding: 5px 0px;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: var(--shadow);
  position: absolute;
  top: 100%;
  left: 37%;
  z-index: 50;
}

.Radio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  margin: 7px;
}

.smokeRadioBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  height: 70px;
  padding: 5px 0px;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: var(--shadow);
  position: absolute;
  top: 100%;
  left: 38%;
  z-index: 50;
}

.smokeRadio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin: 7px;
}

.ageGroupRadioBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 110px;
  padding: 5px 0px;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: var(--shadow);
  position: absolute;
  top: 100%;
  left: 45%;
  z-index: 50;
}

.ageGroupRadio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin: 7px;
}

.activityRadioBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75px;
  height: 140px;
  padding: 5px 0px;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: var(--shadow);
  position: absolute;
  top: 100%;
  left: 30%;
  z-index: 50;
}

.originNickname {
  color: var(--black300);
  font-weight: var(--font-weight-h1);
  font-size: var(--font-size-sub3);
  margin-bottom: 5px;
}

.basicBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

