.profileContainer {
  width: 400px;
  height: 100%;
  margin: 0 auto;
  margin-top: 35px;
  min-height: 1250px;
}

.profilePhotoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 385px;
  height: 330px;
}

.profilePhoto {
  border-radius: 50%;
  margin-bottom: 24px;
  width: 120px;
  height: 120px;
}

.profileBasic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileBasic > div > p {
  font-size: var(--font-size-sub4);
  font-weight: var(--font-weight-h4-bold);
  margin-bottom: 7px;
  margin-top: 11px;
}

.profileBasic > div > input {
  width: 230px;
  height: 35px;
  border: 1px solid var(--black100);
  border-radius: 10px;
  background: var(--black100);
  padding: 10px;
  box-sizing: border-box;
}

.profileformBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileTenContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 385px;
  height: 760px;
  margin-top: 40px;
}

.profileTenContainer > p {
  font-size: var(--font-size-h6);
  margin-bottom: 10px;
}

.profileTenContainer > span {
  font-size: var(--font-size-sub3);
  color: var(--black300);
}

.dropdownContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
  margin-bottom: 26px;
}

.dropdownP {
  font-size: var(--font-size-sub3);
  margin-bottom: 5px;
}

.tagContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 385px;
  margin: 0 auto;
}

.tagContainer > div {
  margin-bottom: 26px;
  margin-left: 20px;
}

.tendencyDesc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
}

.tagContainer > div > span {
  display: inline-block;
}

.tendencyBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.tendencyBox {
  width: 330px;
  height: 120px;
  padding-left: 10px;
  overflow-y: scroll;
}

.tendencyBox::-webkit-scrollbar {
  display: none;
}

.tendencyBox > span {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid var(--black200);
  border-radius: var(--badge-border-radius);
  font-size: var(--font-size-sub3);
}

.tendencyModalBox {
  width: 480px;
  height: 100px;
  overflow-y: scroll;
}

.tendencyModalBox::-webkit-scrollbar {
  display: none;
}

.tendencyModalBox > span {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid var(--black200);
  border-radius: var(--badge-border-radius);
  font-size: var(--font-size-sub3);
}

.IntroducContainer > p {
  font-size: var(--font-size-sub3);
  font-weight: var(--font-weight-h4-bold);
  margin-bottom: 6px;
}

.IntroducContainer > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textareaBtn {
  margin-top: 17px;
}

.radioBtn:nth-child(1) {
  margin-left: 10px;
}

.radioBtn:last-child {
  margin-left: 0px;
}

.dropdownBox {
  display: flex;
  justify-content: center;
}

.dropdownBadge {
  padding: 5px 10px;
  border-radius: var(--badge-border-radius);
  color: var(--white);
  background-color: var(--purple500);
  margin-left: 5px;

  position: relative;
}

.dropdownP {
  font-size: var(--font-size-sub3);
  margin-bottom: 5px;
  margin: 0px 10px 5px 15px;
}

.mbtiRadioBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 120px;
  padding: 5px 0px;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: var(--shadow);
  overflow-y: scroll;

  position: absolute;
  left: 47%;
  z-index: 50
}

.mbtiRadio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  margin: 4px;
}

.regionRadioBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 110px;
  height: 120px;
  padding: 5px 0px;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: var(--shadow);
  overflow-y: scroll;

  position: absolute;
  left: 48%;
  z-index: 50
}

.regionRadio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  margin: 4px;
}