.signUpContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  gap: 50px;
  z-index: 1000;
  background-color: var(--bgc);
}

.logo {
  width: 130px;
  position: relative;
  cursor: pointer;
  transition: opacity 0.3s;
  opacity: 1;
}

.logo:hover {
  opacity: 0.8;
}

.signUpBox {
  display: flex;
  height: 500px;
}

.SignUptitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-body1);
  color: var(--purple500);
  margin-bottom: 20px;
  font-weight: bold;
}

.videoBox {
  width: 400px;
  height: 500px;
  background-color: var(--purple500);
  border-radius: 20px 0 0 20px;
}

.videoBox video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}

.inputBox {
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  border-radius: 0 20px 20px 0px;
  background-color: var(--white);
  box-shadow: var(--shadow);
}

.title {
  font-size: var(--font-size-body2);
  color: var(--purple500);
  margin-bottom: 10px;
}

.signUpText {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
  color: var(--black300);
  font-size: var(--font-size-sub3);
}

.signUpLink {
  transition: opacity 0.2s;
  opacity: 1;
}

.signUpLink:hover {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .videoBox {
    display: none;
  }
  
  .loginContainer {
    flex-direction: column;
  }

  .inputBox{
    border-radius: var(--badge-border-radius);
  }
}

@media screen and (max-width: 375px) {
  .inputBox {
    overflow-x: auto;
  }
}
