.favoriteContainer {
  min-height: 470px;
  max-width: 870px;
  max-height: 600px;
  display: grid;
  gap: 25px;
  margin: 15px auto;
  overflow-y: auto;
  position: relative;
  overflow-x: auto;
}

.favoriteContainer::-webkit-scrollbar {
  display: none;
}

.cardGrid{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 25px;
}

.emptyFavorites {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateY(-100px);
  color: var(--black300);
}

@media (max-width: 834px) {
  .cardGrid {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
  }
}

@media (max-width: 560px) {
  .cardGrid {
    grid-template-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 375px) {
  .favoriteContainer {
    overflow-x: auto;
  }
}



