.favoriteContainer {
  width: 870px;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 30px auto;
}

.cardGrid{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  gap: 25px;
}