/* .userDiv {
  display: flex;
  justify-content: space-around;
  height: 50vh;
}

.userName {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}

.chatDiv {
  flex: 2;
  padding: 20px;
}

.messageInput {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messageInput input {
  flex-grow: 1;
  height: 40px;
  padding: 5px;
  border: 1px solid var(--black200);
  border-radius: var(--badge-border-radius) 0 0 var(--badge-border-radius);
}

.messageInput button {
  background: var(--purple500);
  color: var(--white);
  height: 52px;
  border: none;
  border-radius: 0 var(--badge-border-radius) var(--badge-border-radius) 0;
  padding: 5px 10px;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chatMessageDiv{
    flex-grow: 1;
    overflow: auto;
}

.userInfor{
    flex: 1;
    overflow: auto;
    border-right: 1px solid #ccc;
} */


.userDiv {
  display: flex;
  height: 50vh;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.userName {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #eee;
  background: #f5f5f5;
  color: #333;
}

.userName:hover {
  background: #ddd;
}

.chatDiv {
  flex: 2;
  background: #fff;
}

.messageInput {
  padding: 10px;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
}

.messageInput input {
  flex-grow: 1;
  height: 40px;
  padding: 5px;
  border: 1px solid var(--black200);
  border-radius: var(--badge-border-radius) 0 0 var(--badge-border-radius);
}

.messageInput button {
  background: var(--purple500);
  color: var(--white);
  height: 52px;
  border: none;
  border-radius: 0 var(--badge-border-radius) var(--badge-border-radius) 0;
  padding: 5px 10px;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chatMessageDiv{
  flex-grow: 1;
  overflow: auto;
  padding: 10px;
}

.userInfor{
  flex: 1;
  overflow: auto;
  border-right: 1px solid #ccc;
  background: #f5f5f5;
}
